.nav {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    aspect-ratio: 1;
    padding: 0;
    border: none;
    border-radius: var(--radius-lg);
    background: var(--color-page);
    color: var(--text-color-primary);
    cursor: pointer;
    transition: background-color var(--transition-duration-md) var(--transition-ease), color var(--transition-duration-md) var(--transition-ease-in);
}

.nav-icon:hover {
    background: var(--color-hover);
    color: var(--color-primary);
}

.nav-icon:disabled {
    background: var(--color-disabled);
    color: var(--text-color-disabled);
}

.nav-icon:active,
.nav-icon:focus,
.nav-icon.active {
    background: var(--color-primary);
    color: var(--color-page);
}
