.popup {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
    overflow-y: auto;
    padding: var(--space-sm);
    padding-top: var(--space-xs);
    min-width: 17.5rem;
    background: var(--color-page);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    z-index: var(--layer-card);
}
