.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--app-space-sm);
    padding: var(--space-xs) var(--space-xs);
    background: var(--color-page);
    border-right: var(--border-size-xxs) solid var(--border-color-normal);
}

